.deimos-theme-one {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --size-small: 40px;
  --size-medium: 48px;
  --size-large: 56px;
  --padding-small: 10px 20px;
  --padding-medium: 12px 24px;
  --padding-large: 16px 32px;
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #EEE;
  --color-primary: #42A5F5;
  --color-secondary: #BA68C8;
  --color-warrning: #FF9800;
  --color-info: #03A9F4;
  --color-success: #4CAF50;
  --border-radius: 8px;
}
