.deimos-theme-two {
  --border-radius: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --size-small: 40px;
  --size-medium: 48px;
  --size-large: 56px;
  --padding-small: 20px;
  --padding-medium: 24px;
  --padding-large: 32px;
  --color-white: #000;
  --color-black: #FFF;
  --color-primary: #B388FF;
  --color-secondary: #009688;
  --color-warrning: #FF9800;
  --color-info: #80D8FF;
  --color-success: #00E676;
}
